* {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden; 
}
.bg-1 {
	position: relative;
	background: url('../images/first-view.png');
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	.text {
		position: absolute;
		bottom: 30px;
		right: 30px;
	}
}
header {
	nav {
		background: #ffffff;
		ul {
			.active {
				background: #00a2ed;
				a {
					padding:8px 14px 8px 14px !important;
				}
			}
		}
	}
}
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
h1 {
	margin: 30px 0 35px 0;
}
section {
	.clients {
		text-align: center;
	}
}
footer {
	padding: 0 30px 0 30px;
	h3 {
		margin-top: 42px;
	}
	background: #323232;
	color: #ffffff;
	.label {
		margin-top: 20px;
	}
	#googleMap {
		width: 100%;
		height: 225px;
	}
}
@media all and (max-width: 425px) {
	section {
		.clients {
			.client4 {
				display: none;
			}
			.client5 {
				display: none;
			}
		}
	}
}
@media all and (max-width: 320px) {
	section {
		.clients {
			.col {
				padding: 0;
			}
		}
	}
}