.our-services{
    text-align: center;
    width: 100%;
    h2{
        margin: 32px;
        font-size: 29.3 px;
        font-weight: bold;
    }

    .content-our-services{
        display: flex;
        .item-content-our-services{
            width: 35%;
            margin: 5px 10px;
            img{
                height: 96px;
            }
    
            h5{
                margin-top:12px; 
                font-size: 14.86px;
                font-weight: bold;
                height: 20px;
                line-height: 20px;
                overflow: hidden;
            }
    
            p{
                font-size: 11.86px;
                height: 60px;
                line-height: 20px;
                overflow: hidden;
            }
        }
    }    
}
