.our-clients{

    text-align: center;

    h2{
        margin: 32px;
        font-size: 29.3 px;
        font-weight: bold;
    }

    .content-our-clients{
        display: flex;
        margin: 0 2em;
        div{
            width: 20%;
        }
    }

    
}

.our-articles{
    h2{
        margin: 32px;
        font-size: 29.3 px;
        font-weight: bold;
        text-align: center;
    }

    .content-our-articles{
        display: flex;
        
        h2{
            margin: 32px;
            font-size: 29.3 px;
            font-weight: bold;
        }
        
        .item-content-our-articles{
            margin: 0 10px;
            width: 35%;
            
            img{
                width: 100%;
            }
    
            h5{
                margin-top:0.8em; 
                font-size: 13.3px;
                font-weight: bold;
                height: 20px;
                line-height: 20px;
                overflow: hidden;
            }
    
            p{
                font-size: 9.86px;
                height: 54px;
                line-height: 18px;
                overflow: hidden;
            }

        }
    }  
    
}


// Media query
@media screen and (max-width:800px){

    body {
        max-width: 800px;
        margin: 0 auto; 
    }

    .our-services{
        .content-our-services{
            flex-wrap: wrap;
            justify-content: center;
            .item-content-our-services{
                width: 45%;
            }
        }
    }

    .our-clients{
        .content-our-clients{
            flex-wrap: wrap;
            justify-content: center;
            div{
                width: 33%;
            }
        }
    }

    .our-articles{
        .content-our-articles{
            flex-wrap: wrap;
            justify-content: center;
            .item-content-our-articles{
                width: 45%;
            }
        }
    }

    footer{
        flex-wrap: wrap;
        .item-footer{
            width: 100%;
        }
    }
}

@media screen and (max-width:680px){
    .header-page{
        .contact-menu{
            display: none;
        } 
    
        .mini-menu{
            margin-right: 2em;
            width: 75%;
            display: flex;
            flex-direction: row-reverse;
            position: relative;
            margin-top: 30px;
            div{
                margin-top: 32px;
                background: #ffffff;
                border-radius:5px; 
                position: absolute;
                z-index: 100;
                a{
                    color: #00a2ed;
                    font-weight: bold;
                    font-size: 11.86px;
                }
                
            }
            button{
                color: #00a2ed;
                background: #ffffff;
                border: 2px solid #00a2ed;
                padding: 0 5px;
                font-weight: bold;
                font-size: 11.86px;
            }
        }
    }
}

@media screen and (max-width:640px){
    body {
        max-width: 640px;
        margin: 0 auto; 
    }

    .our-services{
        .content-our-services{
            flex-wrap: wrap;
            justify-content: center;
            .item-content-our-services{
                width: 65%;
            }
        }
    }

    .our-clients{
        .content-our-clients{
            flex-wrap: wrap;
            justify-content: center;
            div{
                width: 50%;
            }
        }
    }

    .our-articles{
        .content-our-articles{
            flex-wrap: wrap;
            justify-content: center;
            .item-content-our-articles{
                width: 90%;
            }
        }
    }

    footer{
        flex-wrap: wrap;
        .item-footer{
            width: 100%;
        }
    }
}

@media screen and (max-width:560px){
    body {
        max-width: 540px;
        margin: 0 auto; 
    }

    .header-page{
        .logo-slogan{
            .slogan{
                display: none ;
            }
        }
    }
}





