RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d [OR]
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^admin/([a-zA-Z]+)/([a-zA-Z]+)$    admin.php?controller=$1&action=$2
RewriteRule ^admin/([a-zA-Z]+)/([a-zA-Z]+)/$    admin.php?controller=$1&action=$2

RewriteRule ^admin/([a-zA-Z]+)/([a-zA-Z]+)/([0-9]+)$    admin.php?controller=$1&action=$2&id=$3
RewriteRule ^admin/([a-zA-Z]+)/([a-zA-Z]+)/([0-9]+)/$    admin.php?controller=$1&action=$2&id=$3