body main header {
    height: 85px; }
    body main header .header-left {
      width: 30%;
      float: left; }
      body main header .header-left img {
        margin-left: 20px; }
      body main header .header-left p {
        font-size: 10px;
        margin-left: 15px; }
    body main header .header-right {
      width: 70%;
      float: left; }
      body main header .header-right .header-right-top {
        height: 30px; }
        body main header .header-right .header-right-top ul {
          text-align: right; }
          body main header .header-right .header-right-top ul li {
            display: inline;
            padding: 10px; }
            body main header .header-right .header-right-top ul li img {
              margin-right: 10px; }
      body main header .header-right nav {
        height: 40px;
        width: 800px; }
        body main header .header-right nav ul.menu {
          margin-left: -15px; }
          body main header .header-right nav ul.menu li {
            float: left;
            padding: 10px;
            line-height: 40px;
            border: 1px solid white;
            width: 70px; }
            body main header .header-right nav ul.menu li a {
              color: #939393;
              display: block;
              text-align: center;
              font-weight: bold; }
              body main header .header-right nav ul.menu li a:hover {
                color: white;
                background-color: #00a2ed;
                border-radius: 10px; }
        body main header .header-right nav ul.icon li {
          float: left;
          padding: 10px;
          line-height: 40px;
          margin-top: 5px; }
  body main .slide {
    position: relative; }
    body main .slide .text-title {
      position: absolute;
      right: 20px;
      bottom: 70px;
      color: white;
      font-size: 20px; }
    body main .slide .text-content {
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: white;
        width: 350px; }