body main footer { margin-top: 40px; height: 400px; width: 100%; background-color: #323232; color: white; }
body main footer .footer-about { float: left; width: 25%; margin-left: 30px; margin-top: 40px; }
body main footer .footer-about .footer-about-title { font-size: 25px; }
body main footer .footer-about .footer-about-desc { font-weight: bold; }
body main footer .footer-contact { float: left; widows: 30%; margin-left: 30px; margin-top: 40px; }
body main footer .footer-contact .footer-contact-title { font-size: 25px; }
body main footer .footer-info { float: left; width: 30%; margin-left: 30px; margin-top: 40px; }
body main footer .footer-info .footer-info-title { font-size: 25px; }
body main footer .line1 { border: 1px solid #404040; margin-bottom: 20px; }