body main header{height:85px}
body main header .header-left{width:30%;float:left}
body main header .header-left img{margin-left:40px;}
body main header .header-left p{font-size:10px;margin-left:35px}
body main header .header-right{width:70%;float:left}
body main header .header-right .header-right-top{height:30px}
body main header .header-right .header-right-top ul{text-align:right}
body main header .header-right .header-right-top ul li{display:inline;padding:10px}
body main header .header-right .header-right-top ul li img{margin-right:10px}
body main header .header-right nav.menu{height:40px;width:700px}
body main header .header-right nav.menu ul.menu-con{margin-left:-15px}
body main header .header-right nav.menu ul.menu-con li{float:left;padding:10px;line-height:40px;border:1px solid #fff;width:70px}
body main header .header-right nav.menu ul.menu-con li a{color:#939393;display:block;text-align:center;font-weight:700}
body main header .header-right nav.menu ul.menu-con li a:hover{color:#fff;background-color:#00a2ed;border-radius:10px}
body main header .header-right nav.menu ul.icon li{float:left;padding:10px;line-height:40px;margin-top:5px}