footer{
    background: #323232;
    padding-bottom: 30px;
    h4{
        padding-bottom: 10px;
        border-bottom: 1px solid wheat;
    }
    color: wheat;
    .about{
           
    }
    .form-guest{
        padding: 0px;
        #add__form{
            color: #323232;
            background: wheat;
            padding:5px 10px;
            border-radius: 10px;
            display: none;
        }
    }
}