section{
    
    text-align: center;
    
    .slideshow{
        margin: 0px;
    }
    .services{
        padding:0px 20px 30px 20px;
    }
    .clients{
        
        margin: 15px 0px;
    }
    .articles{
        
        padding:0px 20px 30px 20px;
        
        .articles-about{
            text-align: justify;
        }
        
    }
    
}