*{
    padding: 0;
    margin: 0;
    
}
.container--max{
    max-width: 960px;
}

@import "header.scss";
@import "main.scss";
@import "footer.scss";

@media only screen and (max-width :768px){
    
    header{
        .header__logo{
            padding-left: 45%;
        }
        .header__right{
            .header__right__contact{
                display: none;
            }
            .header__right__menu{
                background: #323232;
                color: aliceblue;
                padding-top: 0px;
                ul{
                    li{
                        z-index: 999;
                        background: #323232;
                        border-bottom: 1px solid white;
                        
                        a{
                            color: white;
                            border-radius: 0px;
                        }
                    }
                }
                .button_nav_toggle{
                    padding: 0px;
                }
            }
            .header__right__icon{
                display: none;
            }
        }
    }
    section{
        .clients{
            img{
                padding: 10px;
            }
        }
    }
    footer{
        
        
        .about{
               
        }
        .form-guest{
            #add__form{      
                color: #323232;
            background: wheat;
            padding:5px 10px;
            border-radius: 10px;
            display: block;
            }
            .form{
                display: none;
            }
        }
        .map{
            display: none;
        }
    }
}
@media (min-width :769px) and (max-width :992px){
    footer{
        .map{
            display: none;
        }
        
    }
}