* {
  margin: 0px;
  padding: 0px;
  font-family: Myriad Pro; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

a {
  text-decoration: none;
  color: #838383; }

body {
  font-size: 12px; }
  body main {
    width: 1000px;
    margin: 20px auto; }
    body main content {
      height: 1000px;
      width: 100%; }
      body main content section.title {
        margin-top: 20px;
        text-align: center;
        font-weight: bold; }
        body main content section.title p {
          color: #838383;
          font-size: 30px; }
        body main content section.title span {
          color: #838383; }
      body main content article.box-main {
        margin-top: 20px;
        margin-bottom: 40px; }
        body main content article.box-main ul {
          margin-left: 20px; }
          body main content article.box-main ul li {
            float: left;
            width: 290px;
            text-align: center;
            color: #838383;
            margin-right: 30px; }
            body main content article.box-main ul li .box-title {
              font-size: 15px;
              font-weight: bold;
              margin-top: 20px; }
            body main content article.box-main ul li .box-desc {
              margin-top: 20px;
              height: 50px; }
            body main content article.box-main ul li .box-link {
              margin-top: 20px;
              width: 100px;
              height: 30px;
              line-height: 30px;
              background-color: #00a2ed;
              color: white;
              border-radius: 10px;
              margin-left: 110px; }
      body main content .line {
        margin-top: 20px;
        border: 1px solid #ededed;
        width: 300px;
        margin: auto;
        margin-bottom: 10px; }
      body main content article.people {
        margin-top: 30px; }
        body main content article.people ul li {
          display: inline;
          padding: 30px;
          margin-left: 30px; }
      body main content article.product {
        margin-top: 20px; }
        body main content article.product ul li {
          float: left;
          width: 300px;
          margin-left: 30px; }
          body main content article.product ul li .product-title {
            margin: 5px;
            font-weight: bold; }
          body main content article.product ul li .product-desc {
            color: #838383;
            padding: 5px; }
    body main footer {
      margin-top: 40px;
      height: 400px;
      width: 100%;
      background-color: #323232;
      color: white; }
      body main footer .footer-about {
        float: left;
        width: 25%;
        margin-left: 30px;
        margin-top: 40px; }
        body main footer .footer-about .footer-about-title {
          font-size: 25px; }
        body main footer .footer-about .footer-about-desc {
          font-weight: bold; }
      body main footer .footer-contact {
        float: left;
        width: 30%;
        margin-left: 30px;
        margin-top: 40px; }
        body main footer .footer-contact .footer-contact-title {
          font-size: 25px; }
      body main footer .footer-info {
        float: left;
        width: 30%;
        margin-left: 30px;
        margin-top: 40px; }
        body main footer .footer-info .footer-info-title {
          font-size: 25px; }

@media all and (max-width: 1000px) {
  main {
    width: 100%; }

  header {
    width: 100%; }

  .slide {
    width: 100%; }

  content {
    width: 100%; }

  footer {
    width: 100%; } }
@media all and (max-width: 800px) {
  .header-left {
    width: 100%;
    text-align: center;
    margin-left: 200px;
    margin-bottom: 20px; }

  .header-right {
    width: 100%;
    clear: both; }

  .slide {
    width: 75%; }

  content section.title {
    width: 100%;
    margin-left: -150px; }

  content article.box-main ul li {
    width: 100%;
    clear: both;
    margin-left: 180px; }

  content article.people ul li {
    width: 100%;
    clear: both; }

  content article.people ul li img {
    margin-left: 250px; }

  content article.product ul li {
    width: 100%;
    clear: both;
    padding-left: 180px; }

  .footer-about {
    width: 100%; }

  .footer-contact {
    display: none; }

  .footer-info {
    width: 100%; } }
nav.menu-responsive {
  background-color: white; }

nav.menu-responsive select {
  background-color: #fff;
  height: 35px;
  display: none; }

@media all and (max-width: 600px) {
  .header-left {
    width: 100%;
    margin-left: 40px; }

  .header-right-top {
    display: none; }

  .menu {
    display: none; }

  nav.menu-responsive select {
    display: block;
    width: 100%; }

  .slide {
    width: 60%; }

  content section.title {
    width: 100%;
    margin-left: -300px; }

  content article.box-main ul li {
    width: 100%;
    clear: both;
    margin-left: 40px; }

  content article.people ul li {
    width: 100%;
    clear: both; }

  content article.people ul li img {
    margin-left: 100px; }

  content article.product ul li {
    width: 100%;
    clear: both;
    padding-left: 40px; }

  .footer-about {
    display: none; }

  .footer-contact {
    display: none; }

  .footer-info {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
